.button {
  background: #0085FF;
  border-radius: 12px;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  justify-content: center;
  transition: all 0.4s;
  &:hover {
    background: #0066C5;
  }
  &__empty {
    border: none;
    background-color: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: #BDBDBD;
    }
  }
}

.green {
  background: green;
  &:hover {
    background: green;
  }
}

.trash {
  &:hover {
    color: red;
  }
}