wheel
Django<4
django-cors-headers
django-filter
django-rest-swagger
djangorestframework
djangorestframework-simplejwt
drf-yasg
dynaconf
psycopg2
gunicorn

numpy
torch
nvidia-cuda-nvrtc-cu11
nvidia-cudnn-cu11
nvidia-cublas-cu11
typing-extensions
nvidia-cuda-runtime-cu11
setuptools
wheel
pydicom
lungmask
nibabel
tensorflow
scikit-learn
miscnn
dicom2nifti
