.card {
  &__wrapper {
    border: 1px solid #DADADA;
    border-radius: 25px;
    width: 224px;
    padding: 16px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }
    &_icons {
      display: flex;
      align-items: center;
      gap: 10px;
      & svg {
        cursor: pointer;
      }
    }
  }
  &__touchZone {
    cursor: pointer;
  }

  &__imageBlock {
    margin-top: 10px;
  }

  &__info {
    &_title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__authors {
    margin-top: 16px;
    &_title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
    &_list {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-top: 8px;
      ul li {
        list-style-type: none;
      }
    }
  }
}