.select {
  &__title {
    text-align: left;
    color: #909090;
    font-weight: 400;
    font-size: 20px;
  }
  &__wrapper {
    //border: 1px solid #DADADA;
    //border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    //width: 150px;
    
  }
  &__info {
    max-height: 24px;
    overflow: hidden;
    color: #313131;
    
  }
  &__iconArrow {
    text-align: right;
    width: 20px;
    max-width: 20px;
    color: #313131;
    border-right: 1px solid #DADADA;
    &:nth-last-of-type(1) {
      border-left: none;
    }
    padding-right: 20px;
  }
}

.dropDown {
  border: 1px solid #DADADA;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  & ul li {
    list-style-type: none;
    text-align: left;
    padding: 2px;
    font-size: 14px;
    &:hover {
      background-color: #ccc;
    }
  }
}

.active {
  color: red;
}